


.wrapper{
    background-color: rgba(40, 164, 40, 0.685);
    height: 100vh;
    
}


.debug{
    border: 1px solid red;
}


.box-bg{
    background-color: rgba(90, 79, 79, 0.581);
}


p {
    text-align: center;
    font-weight: 700;
    
}

.border{
    border: 1px solid grey;
}